---
import Layout from '@layouts/Layout.astro'
import Information from '@layouts/Information.astro'
import { generateSuggestions } from '@utils/generateSuggestion'
import * as data from '@assets/db/dataDB.json'
import type { ISuggestionOption } from '@typings/SuggestionOption'
import type { IAnimal } from '@typings/Animal'
import { toCapitalize } from '@utils/toCapitalize'

export function getStaticPaths() {
	const routes = data.fauna.map((animal) => {
		const normalizeRoute = animal.name.normalize('NFD').replace(/[\u0300-\u036f]/g, '')

		return { params: { animal: normalizeRoute } }
	})

	return routes
}

const { animal } = Astro.params
const title = toCapitalize(animal as string) + ' | Madagascar Salvaje'

const infoOption = data.fauna.find(
	(info) => info.name.normalize('NFD').replace(/[\u0300-\u036f]/g, '') === animal
) as IAnimal | undefined

const suggestions: ISuggestionOption[] = generateSuggestions({
	section: 'fauna',
	path: '/fauna',
	exclude: animal as string
})
---

<Layout title={title}>
	<main class="max-w-screen-xl mx-auto pb-20 px-6">
		{
			infoOption && (
				<Information info={infoOption} suggestions={suggestions}>
					<h2 class="font-semibold">Curiosidad</h2>
					{infoOption?.interestingFact
						? infoOption.interestingFact?.map((paragraph) => <p>{paragraph}</p>)
						: null}
				</Information>
			)
		}
	</main>
</Layout>
