---
import Layout from '@layouts/Layout.astro'

const title = 'Madagascar Salvaje'
const description =
	'Madagascar es una gran isla en la que viven plantas y animales únicos en el mundo con increíbles lugares naturales. Conoce un poco más acerca de este increíble lugar.'
---

<Layout title={title} description={description}>
	<main class="max-w-screen-xl mx-auto pb-10 md:pb-20 xl:px-6">
		<div class="relative h-[80vh] w-full mb-20 bg-hero-night bg-no-repeat bg-cover bg-center">
			<h1
				class="absolute text-5xl bottom-40 w-full sm:w-fit sm:left-20 text-white uppercase title-responsive textShadow text-center sm:text-left"
			>
				{title}
			</h1>
		</div>
		<section
			class="flex flex-col justify-center items-center gap-20 px-10 py-6 mb-20 lg:items-start lg:flex-row"
		>
			<div class="max-w-[55ch] text-xl lg:max-w-[38ch]">
				<p class="mb-3.5">
					Madagascar es una de las islas más antiguas, separada de África hace 150&nbsp;millones de
					años y del subcontinente indio hace 88&nbsp;millones de años. Este aislamiento ha
					beneficiado la conservación y evolución de muchas de las especies únicas del mundo,
					especialmente los lémures, independientemente de sus antepasados.
				</p>
				<p>
					Más del 80% de las plantas y animales son endémicos de Madagascar, lo que significa que no
					se pueden encontrar en ningún otro lugar del mundo. Además, la isla tiene selvas
					tropicales exuberantes, desiertos áridos y llanuras cubiertas de hierba, mientras que la
					costa está bordeada de arrecifes de coral y manglares.
				</p>
			</div>
			<div class="w-full md:w-[480px]">
				<img src="/images/intro.webp" alt="" class="object-cover object-center" />
			</div>
		</section>
		<section class="px-10 py-6">
			<h2 class="mb-8 text-2xl font-bold text-center uppercase">
				Descubre los extraños animales y plantas de Madagascar
			</h2>
			<p class="max-w-[55ch] lg:max-w-[85ch] mx-auto pb-6 text-xl">
				Esta maravillosa isla cuenta con una variedad de flora, como el jazmín de Madagascar, el
				baobab o el Ravinala, o árbol del viajero, así como animales, siendo los más representativos
				los lémures y otros animales tan raros y extraños como el aye-aye. Además, paisajes
				espectaculares como el Bosque de Piedras Tsingy, el Bulevar Baobab o la increíble playa de
				Nosy Boraha.
			</p>
			<nav class="flex flex-wrap gap-y-8 mt-12">
				<a
					href="/fauna"
					class="group relative block lg:basis-1/2 grow h-96 section-left oveflow-hidden lg:after:absolute lg:after:top-0 lg:after:right-0 lg:after:w-2/5 lg:after:h-full lg:after:bg-gradient-to-l lg:after:from-black lg:after:to-transparent"
				>
					<img
						src="/images/fauna.jpg"
						alt="Imágen de ejemplo de la fauna de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear] bg-black"
						loading="lazy"
					/>
					<h3 class="absolute bottom-0 left-6 mb-4 text-3xl font-bold text-white textShadow">
						Fauna
					</h3>
				</a>
				<a
					href="/flora"
					class="group relative block lg:basis-1/2 grow h-96 section-right overflow-hidden lg:after:absolute lg:after:top-0 lg:after:left-0 lg:after:w-2/5 lg:after:h-full lg:after:bg-gradient-to-r lg:after:from-black lg:after:to-transparent bg-black"
				>
					<img
						src="/images/flora.jpg"
						alt="Imágen de ejemplo de la flora de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear]"
						loading="lazy"
					/>
					<h3
						class="absolute bottom-0 left-6 lg:left-auto lg:right-6 mb-4 text-3xl font-bold text-white textShadow"
					>
						Flora
					</h3>
				</a>
				<a href="/sites" class="group relative block grow h-96 overflow-hidden">
					<img
						src="/images/lugares.jpg"
						alt="Imágen de ejemplo de la flora de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear]"
						loading="lazy"
					/>
					<h3 class="absolute bottom-0 left-6 mb-4 text-3xl font-bold text-white textShadow">
						Lugares naturales
					</h3>
				</a>
			</nav>
		</section>
	</main>
</Layout>

<style>
	.title-responsive {
		font-size: 1.75rem;
		font-size: clamp(1.75rem, 1.2334rem + 2.2962vw, 3rem);
		font-weight: 700;
	}

	.textShadow {
		text-shadow: 2px 2px 4px #000, 2px -2px 4px #000, -2px -2px 4px #000, -2px 2px 4px #000;
	}

	@media (min-width: 1024px) {
		.section-left {
			clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
		}
		.section-right {
			clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	@media (max-width: 48rem) {
		.title-responsive {
			line-height: 1.25;
		}
	}
</style>
