---
import Layout from '../layouts/Layout.astro'

const title = 'Madagascar Salvaje'
---

<Layout title={title}>
	<main class="max-w-screen-xl mx-auto pb-20 px-6 text-white">
		<div class="relative h-[80vh] w-full mb-20 bg-hero-night bg-no-repeat bg-cover bg-center">
			<h1
				class="absolute text-5xl bottom-40 left-24 text-white uppercase title-responsive textShadow"
			>
				{title}
			</h1>
		</div>
		<section class="flex justify-center gap-20 px-10 py-6 mb-20">
			<div class="max-w-[38ch] text-xl">
				<p class="mb-3.5">
					La gran isla de Madagascar es una de la más antiguas, apartada de África hace
					150&nbsp;millones de años y del subcontinente indio hace 88&nbsp;millones de años. Este
					aislamiento favoreció la conservación de multitud de especies únicas en el mundo siendo la
					más conocida los lémures y evolución de manera independiente a sus ancestros.
				</p>
				<p>
					Más del 80 por ciento de las plantas y animales son endémicas de Madagascar, con lo que no
					se pueden encontrar en ningún otro lugar del mundo. Además, cuenta con exuberantes selvas
					tropicales, desiertos secos y llanuras cubiertas de hierba cubren la isla, con arrecifes
					de coral y boques de manglares que se extienden a lo largo de sus costas.
				</p>
			</div>
			<div class="w-[480px]">
				<img src="/images/intro.webp" alt="" class="object-cover object-center" />
			</div>
		</section>
		<section>
			<h2 class="mb-8 text-2xl text-center uppercase">
				Descubre los extraños animales y plantas de Madagascar
			</h2>
			<p class="max-w-[85ch] mx-auto px-10 pb-6 text-xl">
				Esta maravillosa isla cuenta con una gran variedad de plantas tales como, el jazmín de
				Madagascar, el baobab de los enamorados o el Ravinala o árbol del viajero, y de animales,
				siendo los más emblemáticos los lémures y otros tan raros y extraños como el Aye-aye.
				Además, de espectaculares paisajes como el bosque de piedra de Tsingy, la Avenida de los
				Baobabs o las increíbles playas de Nosy Boraha.
			</p>
			<nav class="flex flex-wrap gap-y-8 mt-12">
				<a
					href="/fauna"
					class="group relative block basis-1/2 grow h-96 section-left oveflow-hidden after:block after:absolute after:top-0 after:right-0 after:w-2/5 after:h-full after:bg-gradient-to-l after:from-black after:to-transparent"
				>
					<img
						src="/images/fauna.jpg"
						alt="Imágen de ejemplo de la fauna de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear] bg-black"
						loading="lazy"
					/>
					<h3 class="absolute bottom-0 left-6 mb-4 text-3xl font-bold text-white textShadow">
						Fauna
					</h3>
				</a>
				<a
					href="/flora"
					class="group relative block basis-1/2 grow h-96 section-right overflow-hidden after:block after:absolute after:top-0 after:left-0 after:w-2/5 after:h-full after:bg-gradient-to-r after:from-black after:to-transparent bg-black"
				>
					<img
						src="/images/flora.jpg"
						alt="Imágen de ejemplo de la flora de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear]"
						loading="lazy"
					/>
					<h3 class="absolute bottom-0 right-6 mb-4 text-3xl font-bold text-white textShadow">
						Flora
					</h3>
				</a>
				<a href="/sites" class="group relative block grow h-96 overflow-hidden">
					<img
						src="/images/lugares.jpg"
						alt="Imágen de ejemplo de la flora de Madagascar"
						class="w-full h-full object-cover lg:group-hover:scale-150 transition-[transform_400ms_linear]"
						loading="lazy"
					/>
					<h3 class="absolute bottom-0 left-6 mb-4 text-3xl font-bold text-white textShadow">
						Lugares naturales
					</h3>
				</a>
			</nav>
		</section>
	</main>
</Layout>

<style>
	.title-responsive {
		font-size: 1.2rem;
		font-size: clamp(1.25rem, 0.6565rem + 3.0435vw, 3rem);
	}
	.section-left {
		clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
	}
	.section-right {
		clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
	}
	.textShadow {
		text-shadow: 2px 2px 4px #000, 2px -2px 4px #000, -2px -2px 4px #000, -2px 2px 4px #000;
	}

	@media (max-width: 48rem) {
		.title-responsive {
			line-height: 1.25;
		}
	}
</style>
