---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <div class='h-[80vh] w-full bg-hero-night bg-no-repeat bg-cover bg-center'></div>
  </main>
</Layout>
