---
import Layout from '@layouts/Layout.astro'
import Information from '@layouts/Information.astro'
import { generateSuggestions } from '@utils/generateSuggestion'
import { toCapitalize } from '@utils/toCapitalize'
import * as data from '@assets/db/dataDB.json'
import type { ISuggestionOption } from '@typings/SuggestionOption'
import type { IPlant } from '@typings/Plant'

export function getStaticPaths() {
	const routes = data.flora.map((plant) => {
		const normalizeRoute = plant.name.normalize('NFD').replace(/[\u0300-\u036f]/g, '')

		return { params: { plant: normalizeRoute } }
	})

	return routes
}

const { plant } = Astro.params
const title = toCapitalize(plant as string) + ' | Madagascar Salvaje'

const infoOption = data.fauna.find(
	(info) => info.name.normalize('NFD').replace(/[\u0300-\u036f]/g, '') === plant
) as IPlant | undefined

const suggestions: ISuggestionOption[] = generateSuggestions({
	section: 'flora',
	path: '/flora',
	exclude: plant as string
})
---

<Layout title={title}>
	<main class="max-w-screen-xl mx-auto pb-20 px-6">
		{
			infoOption && (
				<Information info={infoOption} suggestions={suggestions}>
					<h2 class="font-semibold">Curiosidad</h2>
					{infoOption?.interestingFact
						? infoOption.interestingFact?.map((paragraph) => <p>{paragraph}</p>)
						: null}
				</Information>
			)
		}
	</main>
</Layout>
