---
import Moon from '@components/Moon.astro'
import Sun from '@components/Sun.astro'
import Logo from './Logo.astro'

const { pathname } = Astro.url

const NAVIGATION_LINKS = [
	{ title: 'Inicio', href: '/' },
	{ title: 'Fauna', href: '/fauna', activePath: false },
	{ title: 'Flora', href: '/flora', activePath: false },
	{ title: 'Sitios', href: '/sitios', activePath: false }
]

const links = pathname === '/' ? NAVIGATION_LINKS.slice(1) : NAVIGATION_LINKS

NAVIGATION_LINKS.forEach((path) => {
	const sectionPath = '/' + pathname.split('/')[1]

	if (path.href === sectionPath) path.activePath = true
})
---

<script src="src/scripts/handlerMenu.ts"></script>
<link rel="stylesheet" href="/header.css" />

<a
	href="#"
	class="block absolute top-0 left-0 w-full py-4 text-center text-2xl font-bold opacity-0 -z-10 transition-opacity ease-linear duration-200 md:text-4xl focus:opacity-100 focus:z-50 skipNav"
	>Ir al contenido principal</a
>

<header class="max-w-screen-2xl w-full mx-auto headerPage" dark-theme>
	<div class="flex items-center justify-between py-2.5 px-6 text-lg lg:px-10">
		<div class="flex items-center justify-center gap-x-4">
			<a href="/">
				<Logo styles="h-auto w-9" />
			</a>
			<span class="font-bold hidden md:block">Madagascar Salvaje</span>
		</div>
		<div
			class="fixed top-0 left-0 h-screen w-full bg-[rgb(0,0,0,80%)] invisible z-40 transition-visible"
			back-menu
		>
		</div>
		<div
			class="fixed top-0 left-0 flex flex-col justify-center w-full items-center gap-x-8 gap-y-[3.4rem] pt-20 pb-32 px-8 -translate-y-full transition-[transform,_visibility] submd:transition-none duration-300 ease-in-out invisible z-40 md:flex-row md:translate-y-0 md:visible md:static md:w-auto md:justify-between md:p-0 md:!bg-transparent menuLinks"
			actions-menu
			dark-theme
		>
			<div class="h-10 md:h-6 w-28 md:w-20 overflow-y-hidden overflow-x-clip">
				<button
					id="button-theme"
					class="flex flex-col gap-8 mx-auto origin-center transition-transform duration-700 ease-linear"
				>
					<Moon classes={'h-10 md:h-6 w-10 md:w-6'} />
					<Sun classes={'h-10 md:h-6 w-10 md:w-6'} />
				</button>
			</div>
			<nav>
				<ul class="flex flex-col gap-x-4 gap-y-8 md:flex-row navLinks">
					{
						links.map(({ title, href, activePath }) => (
							<li class="text-center ">
								<a
									href={href}
									class={`relative block font-medium px-3 py-1.5 linkMenu text-4xl md:text-base ${
										activePath ? 'active' : ''
									}`}
									link-header
								>
									{title}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>
		<div class="md:hidden">
			<button
				class="h-9 w-12 rounded-md p-1 menuButton sm:hover:border-[rgba(255,_255,_255,_0.8)]"
				aria-hidden="true"
				aria-label="Menú de navegación"
				aria-expanded="false"
			>
				<span class="menuButton__line"></span>
			</button>
		</div>
	</div>
</header>
