---
import Header from '../common/Header.astro'
import { toCapitalize } from '@utils/toCapitalize'

export interface Props {
	title: string
}

const { title }: Props = Astro.props
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{toCapitalize(title)}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=fallback"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/style.css" />
		<script src="../scripts/index.ts"></script>
	</head>

	<body class="min-h-screen" dark-theme>
		<Header />
		<slot />
	</body>
</html>
